body {
    background-color: dimgrey;
}
h1 {
    color: dodgerblue ;
}

h2 {
    color: lightgreen;
}

.log {
    color: cornsilk ;
    border: 1px solid #DDD;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.err {
    color: red;
    text-align: center;
    margin-top: 50px;
    font-size: large;
}